html,body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ffffff;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd; 
  }
  
  th {
    background-color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }

  tr.highlighted {
    background-color: #ffc; 
  }
  /* <td></td><!--日期 -->
    <td></td><!--品項 -->
    <td></td><!--單價 -->
    <td></td><!--數量 -->
    <td></td><!--金額 -->
    <td></td><!--收支類別 -->
    <td></td><!--結餘 -->
    <td><a href=""></a></td><!--收據檔案 --> */